{% extends "bss.html" %}

{% block content %}

        <div class="page__content page-content-style">
            <h2 class="text-success">Life Lesson</h2><br>
            <div class="row">
                <div class="col-md-8">
          <p>One of the hardest things about improving your life is remembering to practice what you've learned in a moment of temptation, frustration, or hardship. Anyone can follow a strategy as they read about it, but remembering to stick with it in the real world is tough.</p>
<p>Stories help with that. An engaging story sticks with you in a way that a research finding often can't. While JamesClear.com promotes science-backed ideas, we don't shun stories and lessons based on real life.</p>
<p>This page collects life lessons from my own life as well as from the lives of artists, creators, and innovators. Articles grapple with concepts like <a href="https://jamesclear.com/marriage-ready">marriage</a>, <a href="https://jamesclear.com/say-thank-you">gratitude</a>, and <a href="https://jamesclear.com/four-burners-theory">work-life balance</a>.</p>
<p>Let's dive in.</p>
                </div>
                <div class="col-md-4">
                      <img src="media/l_lesson.jpg" class="img-fluid img-thumbnail" alt="Life">

                </div>
            </div>
<h2>Life Lessons from Famous Creators</h2>
<ul>
<li><a title="The Shadow Side of Greatness" href="https://jamesclear.com/shadow-side">The Shadow Side of Greatness</a>: Success often comes with a shadow side and hidden costs. In this article, we examine the shadow side of Pablo Picasso's genius.</li>
<li><a title="Famous Biologist Louis Agassiz on the Usefulness of Learning Through Observation" href="https://jamesclear.com/louis-agassiz">Famous Biologist Louis Agassiz on the Usefulness of Learning Through Observation</a>: Self-awareness is critical for success in all fields. Read this article to learn how biologist Louis Agassiz taught self-awareness through observation.</li>
<li><a title="Joseph Brodsky Explains Perfectly How to Deal With Critics and Detractors in Your Life" href="https://jamesclear.com/joseph-brodsky">Joseph Brodsky Explains Perfectly How to Deal With Critics and Detractors in Your Life</a>: Famous poet Joseph Brodsky was exiled from his home in Russia and forced to leave the love of his life behind, never to be seen again. In 1988, Brodsky shared a beautiful strategy and method for dealing with the critics, detractors, and negative influences in your life.</li>
<li><a title="Martha Graham on the Hidden Danger of Comparing Yourself to Others" href="https://jamesclear.com/quality-comparison">Martha Graham on the Hidden Danger of Comparing Yourself to Others</a>: Martha Graham, perhaps the most influential dance choreographer of the 20th century, explains why it is not your job to judge your own work</li>
<li><a title="Lessons on Living a Meaningful Life from Nichelle Nichols" href="https://jamesclear.com/nichelle-nichols">Lessons on Living a Meaningful Life from Nichelle Nichols</a>: Actress Nichelle Nichols helped shape the Civil Rights Movement without realizing it. Read this article to learn how you can live a meaningful life.</li>
</ul>
<h2>Lessons on Living a Meaningful Life</h2>
<ul>
<li><a title="The Top Life Regret of Dying Hospital Patients" href="https://jamesclear.com/top-regret-dying-people">The Top Life Regret of Dying Hospital Patients</a>: Bronnie Ware is a nurse in Australia. She has spent more than a decade counseling dying people. Over that time span, she began recording the top regrets that people have on their death bed. Read the article to find out what this regret is, and how you can make sure that you don't end up feeling the same way.</li>
<li><a title="The Proven Path to Doing Unique and Meaningful Work" href="https://jamesclear.com/stay-on-the-bus">The Proven Path to Doing Unique and Meaningful Work</a>: In June of 2004, Arno Rafael Minkkinen stepped up to the microphone at the New England School of Photography to deliver the commencement speech. As he looked out at the graduating students, Minkkinen shared a simple theory that, in his estimation, made all the difference between success and failure. He called it The Helsinki Bus Station Theory.</li>
<li><a title="The Easiest Way to Live a Short, Unimportant Life" href="https://jamesclear.com/short-unimportant-life">The Easiest Way to Live a Short, Unimportant Life</a>: The easiest way to live a short, unimportant life is to consume the world around you rather than contribute to it. But why is this true? And how can you apply it to your own life?</li>
<li><a title="116 Years Old: Lessons Left Behind From the World's Oldest Living Person" href="https://jamesclear.com/116-years-old-lessons-oldest-living-person">116 Years Old: Lessons Left Behind From the World's Oldest Living Person</a>: During an interview with the Guinness Book of World Records, Besse Cooper was asked about the keys to living a long life. She offered two pieces of advice: &#8220;I mind my own business. And I don't eat junk food.&#8221; This article discusses the wisdom in those two simple statements and how you can use it to live better.</li>
</ul>
<h2>3 Life Lessons From My Own Life</h2>
<ul>
<li><a title="What I Do When I Feel Like Giving Up" href="https://jamesclear.com/giving-up">What I Do When I Feel Like Giving Up</a>: This moment when you don’t feel like doing the work? This is not a moment to be thrown away. This is not a dress rehearsal. This moment is your life as much as any other moment. Spend it in a way that will make you proud.</li>
<li><a title="What I Do When it Feels Like My Work Isn't Good Enough" href="https://jamesclear.com/self-judgment">What I Do When it Feels Like My Work Isn't Good Enough</a>: Read this article to learn how to deal with self-doubt and self-judgment, so that you can move past judging yourself and perform at a higher level.</li>
<li><a title="Make Your Life Better by Saying Thank You in These 7 Situations" href="https://jamesclear.com/say-thank-you">Make Your Life Better by Saying Thank You in These 7 Situations</a>: I'm starting to believe that “Thank You” is the most under-appreciated and under-used phrase on the planet. It is appropriate in nearly any situation and it is a better response than most of the things we say. Let's cover 7 common situations when we say all sorts of things, but should say “Thank You” instead.</li>
</ul>

        </div>

{% endblock %}