{% extends 'bss.html' %}

{% block content %}


<h1 style="background-color:powderblue; font-family:Courier New" align="center"  >Contact US.</h1><br>

<div class="mx-auto" style="width: 200px;">

    <a href="https://mail.google.com/mail/u/0/#inbox?compose=CllgCHrjDlFDwBSXmNWmlrRRzVlgBlXdrDjkTwtmKVtWrMKMqHsBctvKzrtPnrqqxqKjLPwNrJB"  class="link-success"  style="background-color:#e6e6ff" title="Gmail" >ap3788255@gmail.com</a>
</div>


<div class="position-absolute top-50 start-0 translate-middle">
    <h5 style="font-family:Cursive">.........................................................By:- Arth Patel......</h5>
</div>




{% endblock %}